$slideWidth: 1400px;
$slideHeight: 850px;
$horizontalPadding: 100px;
$verticalPadding: 100px;


body{
    background:#294E80;
    font-family: 'Open Sans', serif;
    width: 100%;
    overflow: hidden;
}

.slide{
    position: absolute;        
    top:0; left:0;    
    width: $slideWidth;
    height: $slideHeight;    
    background: #fff;    
}

#container { 
  margin: 60px auto 60px auto;  
  width: $slideWidth + 100px;
  height: $slideHeight;            
  perspective: 1000px;    
}

#slide-viewport{
  transform-style: preserve-3d;
  transition: transform 1s;
  width: $slideWidth;
  height: $slideHeight;     
}

@for $i from 1 through 4 {  
  $xposition: ($slideWidth + $horizontalPadding) * ($i - 1);
  $yposition: 0;
  .slide-#{$i} { 
      transform: translate($xposition, $yposition);
   }

   .show-slide-#{$i} { 
      transform: translate(-1 * $xposition, -1 * $yposition);
   }
}

@for $i from 1 through 5 {
  $xposition: ($slideWidth + $horizontalPadding) * 1.5;
  $yposition: ($slideHeight + $verticalPadding) * $i;  
  .slide-#{$i+4} { 
      transform: translate($xposition, $yposition);
   }

   .show-slide-#{$i+4} { 
      transform: translate(-1 * $xposition, -1 * $yposition);
   }
}

.show-slide-10{
    transform: translate(-600px, -300px) scale3d(0.09, 0.09, 09) ;
}

#presentation-title{           
    transition: opacity 2.5s ease-in-out;
    opacity: 1;
    position: absolute;
    top: 70px;
    left: 390px;
    color: #fff;    
    font-size: 250px;
}

.fade-out{
    transition: opacity 0.25s ease-in-out!important;
    opacity: 0!important;
}