$slideWidth: 1400px;
$slideHeight: 850px;
$horizontalPadding: 100px;
$verticalPadding: 100px;


body{
    background:#294E80;
    font-family: 'Open Sans', serif;
    width: 100%;
    overflow: hidden;
}

.slide{
    position: absolute;        
    top:0; left:0;    
    width: $slideWidth;
    height: $slideHeight;    
    background: #fff;    
}

#container { 
  margin: 60px auto 60px auto;  
  width: $slideWidth + 100px;
  height: $slideHeight;            
  perspective: 1000px;    
}

#slide-viewport{
  transform-style: preserve-3d;
  transition: transform 1s;
  width: $slideWidth;
  height: $slideHeight;     
}

@for $i from 1 through 4 {  
  $xposition: ($slideWidth + $horizontalPadding) * ($i - 1);
  $yposition: 0;
  #slide-#{$i} { 
      transform: translate($xposition, $yposition);
   }

   .show-slide-#{$i} { 
      transform: translate(-1 * $xposition, -1 * $yposition);
   }
}

@for $i from 1 through 5 {
  $xposition: ($slideWidth + $horizontalPadding) * 1.5;
  $yposition: ($slideHeight + $verticalPadding) * $i;  
  #slide-#{$i+4} { 
      transform: translate($xposition, $yposition);
   }

   .show-slide-#{$i+4} { 
      transform: translate(-1 * $xposition, -1 * $yposition);
   }
}

.show-slide-10{
    transform: translate(-600px, -300px) scale3d(0.09, 0.09, 09) ;
}

#presentation-title{           
    transition: opacity 2.5s ease-in-out;
    opacity: 1;
    position: absolute;
    top: 70px;
    left: 390px;
    color: #fff;    
    font-size: 250px;
}

.fade-out{
    transition: opacity 0.25s ease-in-out!important;
    opacity: 0!important;
}

.code-editor{    
    height: 800px;
    display:inline-block;
    border:1px solid grey
}

.slide-content{
    padding:30px 80px;
}

.slide{
    box-shadow: 4px 4px 2px 4px rgba(0,0,0,0.75);
}

.slide h1{
    font-size: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.slide h1:after
{
    content:' ';
    display:block;
    border:2px solid #FFA700;
}

.slide li{
    font-size: 60px;
    line-height: 175%;
}

.ide{
    width: $slideWidth;
    margin: 20px;
}

.ide .typescript-editor{
    width: ($slideWidth * .6);
}

.ide .javascript-editor{
    width: ($slideWidth * .37);
}